@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1 {
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    color: firebrick;
    filter: drop-shadow(3px 3px #333);
}

.container {
    width: 80%;
    margin-inline: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 3px solid firebrick;
}

li {
    flex-grow: 1;
    border: 3px solid lime;
}